<ul class="nav nav-pills nav-stacked">
  <li role="presentation" ui-sref-active="active"><a ui-sref="artist.main">Обзор</a></li>
  <li role="presentation" ui-sref-active="active"><a ui-sref="artist.wiki">Вики</a></li>
  <li role="presentation" ui-sref-active="active"><a ui-sref="artist.tracks">Лучшие композиции</a></li>
  <li role="presentation" ui-sref-active="active"><a ui-sref="artist.albums">Лучшие альбомы</a></li>
  <li role="presentation" ui-sref-active="active"><a ui-sref="artist.similar">Похожие исполнители</a></li>
  <li role="presentation" ui-sref-active="active"><a ui-sref="artist.tags">Метки</a></li>
</ul>