script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.5/angular-resource.js")
script(src="app/app.core.js")
script(src="app/routing.js")
script(src="app/directives/header.directive.js")
script(src="app/directives/footer.directive.js")